<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EstateAgency.Properties.Settings.HouseEstateConnectionString"
            connectionString="Data Source=QWRYESAZE;Initial Catalog=HouseEstate;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EstateAgency.Properties.Settings.HouseEstateConnectionString1"
            connectionString="Data Source=ADCLG1;Initial Catalog=HouseEstate;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>